@import "tailwindcss";

:root {
  --background: #0f1930;
  --foreground: #ccd6f6;
  --accent: #64ffda;
  --muted: #8892b0;
  --lightNavy: #112240;
  --lightSlate: #ccd6f6;
  --slate: #8892b0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-slate: var(--slate);
  --color-lightNavy: var(--lightNavy);
  --color-lightSlate: var(--lightSlate);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-fira-code);
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE and Edge */
body {
  -ms-overflow-style: none;
}

/* Hide scrollbar for Chrome, Safari, and Opera */
body::-webkit-scrollbar {
  display: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

section {
  max-width: 1000px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
  cursor: pointer;
}

a:hover {
  color: var(--accent);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.bg-noise {
  background-image: url("../../public/noise.jpg");
  opacity: 0.05;
  mix-blend-mode: overlay;
}

.spotlight {
  position: fixed;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: screen;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(29, 78, 216, 0.18),
    rgba(29, 78, 216, 0.08) 40%,
    transparent 70%
  );
  transform: translate3d(-50%, -50%, 0);
  z-index: 60;
  will-change: transform, opacity;
}
